<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DailyRecordDebug" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="P2BPlatFormEntities" connectionString="metadata=res://*/Model.P2BEntityContext.csdl|res://*/Model.P2BEntityContext.ssdl|res://*/Model.P2BEntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.78.156.158;initial catalog=P2BPlatForm;user id=p2b;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>